# Check the tiralibConfig class in tiralib/config.py for more information about the config file

env_vars:
  CXX: "${CXX}"
  CC: "${CC}"

dependencies:
    includes:
        - path to where the include of dependencies are
    libs:
        - path to lib where dependencies are installed
